<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Страница авторизации</title>
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/messages.js}"></script>
    <script th:src="@{/js/chosen.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/body.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/button-group.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/messages.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <script>
        $(document).ready(function(){
            $('select').chosen();
        });
    </script>
</head>
<body>
<!--<th:block th:replace="messages">-->
<!--</th:block>-->
<div class="product-name">
    <span class="logo"></span>
    <span class="name">Авторизация</span>
</div>
<div class="body">
    <form class="login-form" th:action="@{/login}" method="post">
        <div class="top">
            <span th:if="${#httpServletRequest.getParameter('error') ne null}">Неверное имя пользователя или пароль</span>
            <span th:if="${#httpServletRequest.getParameter('logout') ne null}">Вы вышли из системы</span>
        </div>
        <div class="bottom">
            <div class="field">
                <input id="username" type="text" name="username"/>
                <label for="username">Логин</label>
            </div>
            <div class="field">
                <input id="password" type="password" name="password" autocomplete="current-password"/>
                <label for="password">Пароль</label>
            </div>
            <button type="submit">Войти</button>
        </div>
    </form>
</div>
</body>
</html>